* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1360px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 125px;
}

.row {
  display: flex;
}

header {
  background-color: #000000;
  padding: 55px 0;
}
header .row {
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .logo {
  margin-top: 10px;
}
header .search {
  color: #fff;
}
header .burger-menu {
  width: 34px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
header .burger-menu span:after {
  position: absolute;
  content: "";
  width: 34px;
  height: 3px;
  background-color: #fff;
  right: 0;
  top: 0;
}
header .burger-menu span:before {
  position: absolute;
  content: "";
  width: 17px;
  height: 3px;
  top: 12px;
  background-color: #fff;
  right: 0;
}
header .menu {
  position: absolute;
  display: none;
  width: 100%;
  max-width: 680px;
  height: 900px;
  right: 0;
  top: -55px;
  z-index: 10000;
  background-color: rgba(71, 55, 255, 0.9);
  color: #fff;
  padding: 70px 120px;
}
header .menu .close {
  position: relative;
  width: 34px;
  height: 20px;
  top: -17px;
  float: right;
  cursor: pointer;
}
header .menu .close span {
  width: 34px;
  height: 20px;
}
header .menu .close span:after {
  position: absolute;
  content: "";
  width: 34px;
  height: 2px;
  background-color: #fff;
  top: 17px;
  right: 0;
  transform: rotate(-45deg);
}
header .menu .close span:before {
  position: absolute;
  content: "";
  width: 34px;
  height: 2px;
  background-color: #fff;
  top: 17px;
  right: 0;
  transform: rotate(45deg);
}
header .menu .menu-list {
  padding: 155px 0;
}
header .menu .menu-list li {
  position: relative;
  margin: 35px 0;
}
header .menu .menu-list li a {
  position: relative;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #ffffff;
  transition: 0.4s;
}
header .menu .menu-list li a.active:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0px;
  background-color: #fff;
}
header .menu .menu-list li a:hover {
  color: #999999;
}
header .menu .menu-list li a:hover:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0px;
  background-color: #999999;
}

.about-section {
  background-color: #000;
  margin-bottom: -4px;
}
.about-section .container {
  padding: 0;
  padding-left: 125px;
}
.about-section .row {
  display: flex;
}
.about-section .left-part {
  width: 45%;
}
.about-section .left-part .about-slider {
  z-index: 0;
}
.about-section .left-part .swiper-slide h1 {
  font-size: 60px;
  max-width: 470px;
  line-height: 70px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #fff;
  margin: 90px 0 50px;
}
.about-section .left-part .swiper-slide p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  color: #C4C4C4;
  max-width: 470px;
  margin-bottom: 50px;
}
.about-section .left-part .swiper-slide a.start-btn {
  width: 100%;
  max-width: 190px;
  padding: 10px 15px;
  background-color: #4737FF;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 500;
  height: 50px;
}
.about-section .left-part .swiper-slide a.start-btn:hover {
  background-color: #766aff;
}
.about-section .left-part .slider-progress-wrap {
  position: relative;
  width: 280px;
  margin-top: -3px;
}
.about-section .left-part .slider-progress {
  position: absolute;
  top: 14px;
  right: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #cce6ff;
}
.about-section .left-part .slider-progress2 {
  position: absolute;
  top: 14px;
  right: 0;
  left: 0;
  width: 95px;
  height: 3px;
  background: #1434E1;
}
.about-section .left-part .slider-num {
  display: flex;
  flex: 0 0 auto;
  font-size: 24px;
  line-height: 24px;
  color: #1434E1;
  font-family: "Roboto", sans-serif;
  margin-top: 160px;
}
.about-section .left-part .slider-num span {
  margin: 0 10px;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}
.about-section .left-part .slider-num span:first-child {
  margin-left: 0;
}
.about-section .left-part .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #1434E1;
}
.about-section .right-part {
  width: 55%;
  position: relative;
}
.about-section .right-part img {
  width: 100%;
}
.about-section .right-part .video-about {
  position: absolute;
  left: -18%;
  bottom: 50px;
  background-image: url("img/popup.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 310px;
  transition: 0.5s;
}
.about-section .right-part .video-about:hover {
  transform: scale(1.1);
}

a.btn-play {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
a.btn-play .play {
  position: absolute;
  width: 20px;
  height: 20px;
  clip-path: polygon(100% 45%, 0 0, 0 100%);
  background-color: #F96241;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-section {
  background-color: #E5E5E5;
  padding: 100px 0;
}
.service-section .title-section {
  position: relative;
  margin-left: 20px;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.service-section .title-section:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  background-color: #222222;
  top: calc(50% - 1px);
  left: -20px;
  text-transform: uppercase;
}
.service-section .row {
  display: flex;
  justify-content: space-between;
}
.service-section .row h2 {
  max-width: 540px;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
  font-weight: 600;
}
.service-section .row ul.sub-menu-item li {
  margin: 20px 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #222222;
  opacity: 0.5;
}
.service-section .row ul.sub-menu-item li:first-child {
  margin-top: 10px;
}
.service-section .slider-wrap {
  padding-top: 100px;
}
.service-section .slider-wrap .container {
  padding: 0;
  padding-left: 125px;
}
.service-section .slider-wrap .pagination {
  display: flex;
  padding-top: 50px;
}
.service-section .slider-wrap .pagination .btn-next {
  width: 50px;
  height: 50px;
  background-color: #C4C4C4;
  position: relative;
  outline: 0;
  cursor: pointer;
  transition: 0.3s;
}
.service-section .slider-wrap .pagination .btn-next:hover {
  background-color: #787878;
}
.service-section .slider-wrap .pagination .btn-next i {
  color: #fff;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service-section .slider-wrap .pagination .btn-prev {
  width: 50px;
  height: 50px;
  background-color: #C4C4C4;
  position: relative;
  margin-right: 25px;
  outline: 0;
  cursor: pointer;
  transition: 0.3s;
}
.service-section .slider-wrap .pagination .btn-prev:hover {
  background-color: #787878;
}
.service-section .slider-wrap .pagination .btn-prev i {
  color: #fff;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service-section .swiper-container .swiper-slide {
  width: 100%;
  max-width: 825px;
  opacity: 0.2;
  position: relative;
}
.service-section .swiper-container .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.service-section .swiper-container .swiper-slide img {
  width: 825px;
  height: 500px;
}

footer {
  background-color: #515151;
  padding: 70px 0;
}
footer .top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  position: relative;
}
footer .top-footer:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #fff;
  opacity: 0.2;
}
footer .top-footer .logo {
  margin-top: 10px;
}
footer .top-footer .footer-menu {
  display: flex;
}
footer .top-footer .footer-menu li {
  margin: 0 20px;
}
footer .top-footer .footer-menu li a {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  position: relative;
  transition: 0.3s;
}
footer .top-footer .footer-menu li a:hover {
  color: #999999;
}
footer .top-footer .footer-menu li a:hover:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #999999;
}
footer .top-footer .form {
  width: 285px;
}
footer .top-footer .form form {
  display: flex;
  align-items: center;
}
footer .top-footer .form form input[type=email] {
  padding: 10px 15px;
  background-color: #F5F4FF;
  border: 0;
  outline: none;
  font-size: 18px;
  width: 170px;
}
footer .top-footer .form form button {
  cursor: pointer;
  width: 100px;
  margin-left: 20px;
  text-transform: uppercase;
  padding: 9px 15px;
  font-size: 14px;
  letter-spacing: 4px;
  color: #fff;
  line-height: 24px;
  background-color: #C6B393;
  border: 0;
  transition: 0.3s;
}
footer .top-footer .form form button:hover {
  background-color: #5c4c31;
}
footer .down-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
}
footer .down-footer .footer-down-menu {
  display: flex;
  align-items: center;
}
footer .down-footer .footer-down-menu li {
  margin: 0 21px;
}
footer .down-footer .footer-down-menu li:first-child {
  margin-left: 0;
}
footer .down-footer .footer-down-menu li a {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.4;
  position: relative;
  color: #fff;
  transition: 0.3s;
}
footer .down-footer .footer-down-menu li a:hover {
  opacity: 0.9;
}
footer .down-footer .footer-down-menu li a:hover:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #999999;
}
footer .down-footer .sci {
  display: flex;
  align-items: center;
}
footer .down-footer .sci li {
  margin: 0 10px;
}
footer .down-footer .sci li:last-child {
  margin-right: 0;
}
footer .down-footer .sci li a {
  color: #fff;
  opacity: 0.4;
  transition: 0.3s;
}
footer .down-footer .sci li a:hover {
  opacity: 0.9;
}

@media (max-width: 1200px) {
  .about-section {
    min-height: 600px;
  }
  .about-section .left-part .swiper-slide p {
    max-width: 345px;
  }
  .about-section .left-part .slider-num {
    margin-top: 15px;
  }
  .about-section .right-part .video-about {
    left: -10%;
  }
  .about-section .right-part img {
    height: 605px;
  }

  footer .top-footer .footer-menu li {
    margin: 0 10px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }

  header .menu {
    padding: 70px 15px;
  }

  .service-section .slider-wrap .container {
    padding: 0 15px;
  }

  .about-section .container {
    padding: 0;
  }

  .about-section .row {
    flex-wrap: wrap;
  }
  .about-section .row .left-part {
    width: 100%;
    margin-bottom: 50px;
    padding: 0 15px;
  }
  .about-section .row .left-part .slider-num {
    justify-content: center;
  }
  .about-section .row .left-part .swiper-slide h1 {
    max-width: none;
    width: 100%;
    text-align: center;
    font-size: 45px;
    line-height: 55px;
  }
  .about-section .row .left-part .swiper-slide p {
    margin: 0 auto;
    text-align: center;
    max-width: 430px;
  }
  .about-section .row .left-part .swiper-slide .start-btn {
    margin: 0 auto;
    margin-top: 30px;
  }
  .about-section .row .right-part {
    width: 100%;
  }
  .about-section .row .right-part img {
    height: 460px;
  }
  .about-section .row .right-part .video-about {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .service-section .row {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .service-section .row h2 {
    max-width: none;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  footer .top-footer {
    flex-wrap: wrap;
  }
  footer .top-footer .form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}
@media (max-width: 768px) {
  header .menu {
    background-color: #4737ff;
    height: 400px;
  }
  header .menu .menu-list {
    padding: 0;
  }
  header .menu .menu-list li {
    text-align: center;
    margin: 20px 0;
  }
  header .menu .menu-list li a {
    font-size: 35px;
    line-height: 120%;
  }

  footer .top-footer .logo {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
  footer .top-footer .footer-menu {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .service-section .row .sub-menu-item:last-child {
    text-align: right;
  }
  .service-section .row h2 {
    font-size: 30px;
  }

  footer .top-footer .footer-menu {
    flex-direction: column;
  }
  footer .top-footer .footer-menu li {
    margin: 0 auto;
  }

  footer .down-footer {
    flex-wrap: wrap;
  }
  footer .down-footer .footer-down-menu {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
  footer .down-footer .footer-down-menu li {
    margin: 0 10px;
  }
  footer .down-footer .footer-down-menu li:last-child {
    margin-right: 0;
  }
  footer .down-footer .sci {
    width: 100%;
    justify-content: center;
  }
  footer .down-footer .sci li:last-child {
    margin-right: 10px;
  }
}
@media (max-width: 420px) {
  .about-section .right-part .video-about {
    width: 280px;
    height: 218px;
  }
}

/*# sourceMappingURL=style.css.map */
