* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1360px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 125px;
}

.row {
  display: flex;
}

header {
  background-color: #000000;
  padding: 55px 0;

  .row {
    justify-content: space-between;
    align-items: center;
    position: relative;

  }

  .logo {
    margin-top: 10px;
  }

  .search {
    color: #fff;
  }

  .burger-menu {
    width: 34px;
    height: 20px;
    position: relative;
    cursor: pointer;

    span {
      &:after {
        position: absolute;
        content: '';
        width: 34px;
        height: 3px;
        background-color: #fff;
        right: 0;
        top: 0;
      }

      &:before {
        position: absolute;
        content: '';
        width: 17px;
        height: 3px;
        top: 12px;
        background-color: #fff;
        right: 0;
      }
    }
  }

  .menu {
    position: absolute;
    display: none;
    width: 100%;
    max-width: 680px;
    height: 900px;
    right: 0;
    top: -55px;
    z-index: 10000;
    background-color: rgba(71, 55, 255, 0.9);
    color: #fff;
    padding: 70px 120px;

    .close {
      position: relative;
      width: 34px;
      height: 20px;
      top: -17px;
      float: right;
      cursor: pointer;

      span {
        width: 34px;
        height: 20px;

        &:after {
          position: absolute;
          content: '';
          width: 34px;
          height: 2px;
          background-color: #fff;
          top: 17px;
          right: 0;
          transform: rotate(-45deg);
        }

        &:before {
          position: absolute;
          content: '';
          width: 34px;
          height: 2px;
          background-color: #fff;
          top: 17px;
          right: 0;
          transform: rotate(45deg);
        }
      }
    }

    .menu-list {
      padding: 155px 0;

      li {
        position: relative;
        margin: 35px 0;

        a {
          position: relative;
          font-size: 60px;
          line-height: 70px;
          letter-spacing: -1px;
          font-weight: bold;
          color: #ffffff;
          transition: 0.4s;

          &.active {
            &:after {
              position: absolute;
              content: '';
              width: 100%;
              height: 1px;
              left: 0;
              bottom: 0px;
              background-color: #fff;

            }
          }

          &:hover {
            color: darken(#fff, 40%);

            &:after {
              position: absolute;
              content: '';
              width: 100%;
              height: 1px;
              left: 0;
              bottom: 0px;
              background-color: darken(#fff, 40%);

            }
          }
        }
      }
    }
  }
}

.about-section {
  background-color: #000;
  margin-bottom: -4px;

  .container {
    padding: 0;
    padding-left: 125px;
  }

  .row {
    display: flex;
  }

  .left-part {
    width: 45%;

    .about-slider {
      z-index: 0;


    }

    .swiper-slide {
      h1 {
        font-size: 60px;
        max-width: 470px;
        line-height: 70px;
        letter-spacing: -1px;
        font-weight: bold;
        color: #fff;
        margin: 90px 0 50px;
      }

      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
        color: #C4C4C4;
        max-width: 470px;
        margin-bottom: 50px;
      }

      a.start-btn {
        width: 100%;
        max-width: 190px;
        padding: 10px 15px;
        background-color: #4737FF;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 4px;
        font-weight: 500;
        height: 50px;

        &:hover {
          background-color: lighten(#4737FF, 10%);
        }

      }

    }

    .slider-progress-wrap {
      position: relative;
      width: 280px;
      margin-top: -3px;
    }

    .slider-progress {
      position: absolute;
      top: 14px;
      right: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #cce6ff;
    }

    .slider-progress2 {
      position: absolute;
      top: 14px;
      right: 0;
      left: 0;
      width: 95px;
      height: 3px;
      background: #1434E1;
    }

    .slider-num {
      display: flex;
      flex: 0 0 auto;
      font-size: 24px;
      line-height: 24px;
      color: #1434E1;
      font-family: 'Roboto', sans-serif;

      margin-top: 160px;

      span {
        margin: 0 10px;
        color: #fff;
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;

        &:first-child {
          margin-left: 0;
        }

      }
    }

    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      background: #1434E1;
    }

  }

  .right-part {
    width: 55%;
    position: relative;

    img {
      width: 100%;
    }

    .video-about {
      position: absolute;
      left: -18%;
      bottom: 50px;
      background-image: url("img/popup.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 400px;
      height: 310px;
      transition: 0.5s;

      &:hover {
        transform: scale(1.1);
      }


    }
  }
}

a.btn-play {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;

  .play {
    position: absolute;
    width: 20px;
    height: 20px;
    clip-path: polygon(100% 45%, 0 0, 0 100%);
    background-color: #F96241;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.service-section {
  background-color: #E5E5E5;
  padding: 100px 0;

  .title-section {
    position: relative;
    margin-left: 20px;
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 30px;
    text-transform: uppercase;

    &:after {
      position: absolute;
      content: '';
      width: 10px;
      height: 1px;
      background-color: #222222;
      top: calc(50% - 1px);
      left: -20px;
      text-transform: uppercase;

    }
  }

  .row {
    display: flex;
    justify-content: space-between;

    h2 {
      max-width: 540px;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: -1px;
      font-weight: 600;
    }

    ul.sub-menu-item {
      li {
        margin: 20px 0;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;
        color: #222222;
        opacity: 0.5;

        &:first-child {
          margin-top: 10px;
        }
      }
    }
  }

  .slider-wrap {
    padding-top: 100px;

    .container {
      padding: 0;
      padding-left: 125px;
    }

    .pagination {
      display: flex;
      padding-top: 50px;

      .btn-next {
        width: 50px;
        height: 50px;
        background-color: #C4C4C4;
        position: relative;
        outline: 0;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: darken(#C4C4C4, 30%);
        }

        i {
          color: #fff;
          font-size: 22px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .btn-prev {
        width: 50px;
        height: 50px;
        background-color: #C4C4C4;
        position: relative;
        margin-right: 25px;
        outline: 0;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: darken(#C4C4C4, 30%);
        }

        i {
          color: #fff;
          font-size: 22px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .swiper-container {
    .swiper-slide {
      width: 100%;
      max-width: 825px;
      opacity: 0.2;
      position: relative;

      &.swiper-slide-active {
        opacity: 1;
      }

      img {
        width: 825px;
        height: 500px;
      }

    }

  }
}

footer {
  background-color: #515151;
  padding: 70px 0;

  .top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      bottom: 0;
      background-color: #fff;
      opacity: 0.2;
    }

    .logo {
      margin-top: 10px;
    }

    .footer-menu {
      display: flex;

      li {
        margin: 0 20px;

        a {
          font-size: 18px;
          line-height: 28px;
          color: #fff;
          position: relative;
          transition: 0.3s;

          &:hover {
            color: darken(#fff, 40%);

            &:before {
              position: absolute;
              content: '';
              left: 0;
              bottom: -2px;
              width: 100%;
              height: 1px;
              background-color: darken(#fff, 40%);
            }
          }
        }
      }
    }

    .form {
      width: 285px;

      form {
        display: flex;
        align-items: center;

        input[type="email"] {
          padding: 10px 15px;
          background-color: #F5F4FF;
          border: 0;
          outline: none;
          font-size: 18px;
          width: 170px;
        }

        button {
          cursor: pointer;
          width: 100px;
          margin-left: 20px;
          text-transform: uppercase;
          padding: 9px 15px;
          font-size: 14px;
          letter-spacing: 4px;
          color: #fff;
          line-height: 24px;
          background-color: #C6B393;
          border: 0;
          transition: 0.3s;

          &:hover {
            background-color: darken(#C6B393, 40%);
          }
        }
      }
    }
  }

  .down-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;

    .footer-down-menu {
      display: flex;
      align-items: center;

      li {
        margin: 0 21px;

        &:first-child {
          margin-left: 0;
        }

        a {
          font-size: 18px;
          line-height: 28px;
          opacity: 0.4;
          position: relative;
          color: #fff;
          transition: 0.3s;

          &:hover {
            opacity: 0.9;

            &:before {
              position: absolute;
              content: '';
              left: 0;
              bottom: -2px;
              width: 100%;
              height: 1px;
              background-color: darken(#fff, 40%);
            }
          }
        }
      }
    }

    .sci {
      display: flex;
      align-items: center;

      li {
        margin: 0 10px;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #fff;
          opacity: 0.4;
          transition: 0.3s;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .about-section {
    min-height: 600px;

    .left-part {
      .swiper-slide {
        p {
          max-width: 345px;
        }
      }

      .slider-num {
        margin-top: 15px;
      }
    }

    .right-part {
      .video-about {
        left: -10%;
      }

      img {
        height: 605px;
      }
    }
  }

  footer .top-footer .footer-menu li {
    margin: 0 10px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }
  header {
    .menu {
      padding: 70px 15px;
    }
  }
  .service-section {
    .slider-wrap {
      .container {
        padding: 0 15px;
      }
    }
  }
  .about-section {
    .container {
      padding: 0;
    }
  }

  .about-section .row {
    flex-wrap: wrap;

    .left-part {
      width: 100%;
      margin-bottom: 50px;
      padding: 0 15px;

      .slider-num {
        justify-content: center;
      }

      .swiper-slide {
        h1 {
          max-width: none;
          width: 100%;
          text-align: center;
          font-size: 45px;
          line-height: 55px;
        }

        p {
          margin: 0 auto;
          text-align: center;
          max-width: 430px;
        }

        .start-btn {
          margin: 0 auto;
          margin-top: 30px;
        }
      }
    }

    .right-part {
      width: 100%;

      img {
        height: 460px;
      }

      .video-about {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .service-section {
    .row {
      flex-wrap: wrap;
      justify-content: space-around;

      h2 {
        max-width: none;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
      }
    }
  }
  footer .top-footer {
    flex-wrap: wrap;

    .form {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 25px;
    }
  }
}

@media (max-width: 768px) {
  header {
    .menu {
      background-color: rgba(71, 55, 255, 1);
      height: 400px;

      .menu-list {
        padding: 0;

        li {
          text-align: center;
          margin: 20px 0;

          a {
            font-size: 35px;
            line-height: 120%;
          }
        }
      }
    }
  }

  footer .top-footer {
    .logo {
      width: 100%;
      margin-bottom: 15px;
      text-align: center;
    }

    .footer-menu {
      width: 100%;
      justify-content: center;
    }
  }
}

@media (max-width: 575px) {
  .service-section .row {
    .sub-menu-item:last-child {
      text-align: right;
    }

    h2 {
      font-size: 30px;
    }
  }

  footer .top-footer {
    .footer-menu {
      flex-direction: column;

      li {
        margin: 0 auto;
      }
    }
  }
  footer .down-footer {
    flex-wrap: wrap;

    .footer-down-menu {
      width: 100%;
      justify-content: center;
      margin-bottom: 20px;

      li {
        margin: 0 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .sci {
      width: 100%;
      justify-content: center;

      li:last-child {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 420px) {
  .about-section .right-part .video-about {
    width: 280px;
    height: 218px;
  }
}




